* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

form {
  border: 2px solid #94b49f;
  background-color: #fefbf6;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  margin: auto;
}
